*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: background-color 0.8s;
}

.button_group {
  background: linear-gradient(125deg, white, orange);
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.4s, cursor 0.4s, transform 0.4s;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn_red {
  background-color: #ff0000;
}

.btn_green {
  background-color: #00ae00;
}

.btn_blue {
  background-color: #0000ff;
}

.btn_pink {
  background-color: #ff768d;
}

.btn_yellow {
  background-color: #ffff00;
  color: #000;
}

.btn_orange {
  background-color: orange;
  color: #000;
}

.btn_white {
  background-color: #fff;
  color: #000;
}

.btn_black {
  background-color: #000;
  color: #fff;
}
